@import 'tailwindcss';

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/space-grotesk.woff2') format('woff2');
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-sans: 'Space Grotesk', sans-serif;

	--color-surface-light: #2d333b;
	--color-surface: #1e2329;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;

	overscroll-behavior: none;
	touch-action: pan-x pan-y;

	@apply font-sans text-white;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*[data-tauri-drag-region] {
	app-region: drag;
}

body {
	@apply border-[3px] border-surface-light bg-surface font-sans tracking-wider;
}
