@import 'tailwindcss';

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/space-grotesk.woff2') format('woff2');
	font-weight: 300 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-sans: 'Space Grotesk', sans-serif;

	--color-surface-light: #2D333B;
	--color-surface: #1E2329;

	--color-primary: #129b70;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;

	@apply font-sans text-white;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*[data-tauri-drag-region] {
	app-region: drag;
}

body {
	@apply font-sans border-[3px] border-surface bg-surface tracking-wider;
}
